# Python specific
*.pyc

# Generic files to ignore
*~
*.lock
*.bak
log

# PyCharm
.idea

# CRT
CRT*.exe

# Model parameter files, folders, and shapefiles
hru_params
*.param

# Project specific files and file types
*.mxd
*.img.aux.xml
*.shp.xml
*.cpg

# Script folders
scripts/custom
scripts/old

# Ancillary data folders
impervious
nlcd
prism
soils
veg
vegetation
